.places__paragraph-container {
  grid-area: paragraph;
}

@media screen and (max-width: 1279px) {
  .places__paragraph-container {
    min-width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .places__paragraph-container {
    min-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .places__paragraph-container {
    min-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }
}