.lead__caption {
  margin-top: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
  }
}